.chair-information {
  margin-top: 55px;
}

.chair-information #tabs .product-description {
  border: 1px solid #be926f;
  height: auto;
  padding: 5px 20px 10px 20px;
}

.chair-information #tabs h2 {
  color: #333333;
  font: 1.2em 'Montserrat';
}

.chair-information #tabs p {
  font: 1.1em 'Montserrat';
  font-weight: 300;
  color: #666666;
  padding-top: 8px;
  line-height: 1.6;

}

.chair-information #tabs ul li {
  list-style: none;
  border: 1px solid #be926f;
  border-bottom: none;
  padding: 15px;
  outline: none;
  margin-bottom: -1px;
  margin-right: 5px;
}

.chair-information #tabs ul li.ui-state-active {
  border-top: 4px solid #be926f;
  padding-top: 12px;
  border-bottom: 0;
  background-color: white;
  margin-bottom: -1px;
}

.chair-information #tabs ul {
  padding: 0;
  display: flex;
  margin: 0;
  height: 50px;
}

.chair-information #tabs a {
  text-decoration: none;
  outline: none;
}

.chair-information #tabs .tab-heading a {
  font: 1.250em 'Montserrat';
  color: #666666;
}

.chair-information #tabs .tab-heading.ui-state-active a {
  color: #be926f;
}
