.office-body {
  padding-top: 30px;
  display: -ms-flexbox;
  display: flex;
}

.office-body .chair-gallery {
  display: -ms-flexbox;
  display: flex;
  width: 60%;

}

.office-body .chairs img {
  border: 1px solid #dbc5b4;
}

.office-body .chairs .chair-preview {
  width: 142px;
  height: 178px;
  overflow: hidden;
  display: block;
  padding-bottom: 30px;
}

.office-body .chairs .chair-preview:last-child {
  padding-bottom: 0;
}

.office-body .choose-chair {
  height: 592px;
  border: 4px solid #dbc5b4;
  margin-left: 30px;
}

.choose-chair a {
  height: inherit;
  width: inherit;
}

.choose-chair img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.information-details {
  height: 592px;
  margin-left: 30px;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;

}

.information-details .name-information {
  font: 1.875em 'Montserrat SemiBold';
  margin: 0 auto;

}

.information-details .rating {
  width: 200px;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}

.information-details .rating .star {
  background: url('../graphic-img/star.png') no-repeat;
  width: 16px;
  height: 15px;
  margin-right: 5px;

}

.information-details .rating p {
  font: 1em 'Montserrat';
  font-weight: 300;
  color: #999999;

}

.information-details .rating .active.star {
  background-image: url('../graphic-img/star-active.png');
  width: 16px;
  height: 15px;
}

.product-meta {
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.product-meta .stock {
  background: url('../graphic-img/in-stock-.png') no-repeat;
  width: 60px;
  height: 18px;
  padding-left: 25px;
  font: 1.05em 'Montserrat';
  font-weight: 300;
  color: #666666;
}

.product-meta .SKU {
  padding-left: 55px;
  padding-right: 55px;
}

.product-meta .SKU span,
.product-meta .category-product span {
  font: 1.05em 'Montserrat';
  font-weight: 300;
  color: #666666;;
}

.text-description p {
  font: 1.05em 'Montserrat';
  font-weight: 300;
  color: #666666;
  line-height: 1.7;
  word-spacing: 3px;
  padding-top: 5px;
}

.price {
  font: 1.688em 'Montserrat';
  color: #ff0000;

}

.price s {
  font-weight: 300;
  color: #cccccc;
  padding-right: 35px;

}

.color-swatch p {
  font: 1.250em 'Montserrat';
  color: #333333;
  display: inline;
  padding-right: 10px;

}

.color-swatch {
  display: table;
  padding-top: 25px;
  padding-bottom: 20px;
  border-spacing: 5px;

}

.color-swatch__item {
  display: table-cell;
  line-height: 16px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20px;
  transition: 0.25s;
  border: 2px solid #f7f7f7;
  outline: 1px solid #cccccc;

}

.color-swatch__item:hover {
  z-index: 1;
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

[type="radio"]:checked + label:after {
  content: '\f00c';
  font-size: 9px;
  vertical-align: top;
  color: #fff;
  font-family: FontAwesome, serif;
}

.links {
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper {
  width: 50px;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
}

.input-wrapper input {
  width: 54px;
  font: 1.625em 'Montserrat';
  color: #333333;
  text-align: center;
  height: 54px;
  border: 1px solid #cccccc;
}

.plus-minus button {
  width: 29px;
  height: 29px;
  padding: 0;
  border: 1px solid #cccccc;
  background-color: #f7f7f7;
  overflow: hidden;
  font: 1.625em 'Montserrat';
  color: #666666;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.add-to {
  background-color: #be926f;
  font: 1.188em 'Montserrat';
  text-transform: uppercase;
  color: #f7f7f7;
  text-decoration: none;
  padding: 17px 15px;
  margin-left: 55px;
  height: 23px;
  margin-top: 14px;
  transition: 0.5s;
}

.add-to:hover {
  background-color: #c48350;
  transition: 0.5s;
}

.links ul {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 15px;
}

.links ul a {
  display: block;
  width: 55px;
  height: 55px;
  border: 1px solid #999999;
  background: center no-repeat;

}

.links .to-favorites {
  background-image: url('../graphic-img/office-icon-fav.png');
  margin-right: 15px;
}

.links .to-comparison {
  background-image: url('../graphic-img/office-icon-compare.png');

}

.share-on {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.share-on p {
  font: 1.250em 'Montserrat';
  color: #333333;
  padding-right: 13px;

}

.share-on .share-icon {
  padding-right: 14px;
}

.share-on .share-icon-facebook {
  background: url('../graphic-img/share-facebook.jpg') no-repeat;
  width: 40px;
  height: 40px;
}

.share-on .share-icon-twitter {
  background: url('../graphic-img/share-twitter.jpg') no-repeat;
  width: 40px;
  height: 40px;
}

.share-on .share-icon-google {
  background: url('../graphic-img/share-google.jpg') no-repeat;
  width: 40px;
  height: 40px;
}

.share-on .share-icon-pinterest {
  background: url('../graphic-img/share-pinterest.jpg') no-repeat;
  width: 40px;
  height: 40px;

}
