/* PHONE */
@media (max-width: 768px) {
  .container {
    max-width: 90%;

  }

  .header-nav li + li {
    margin-left: 15px;
  }

  .featured-product {
    flex-basis: 50%;
    margin: 0 auto;

  }

  .featured-products-list {
    flex-wrap: wrap;
  }

  .sneakers-product {
    flex-wrap: wrap;
    height: 200px;
  }

  .sneakers-product-item {
    height: 100px;
    width: 100%;
  }

  .hot-sale {
    height: 200px;
    margin-left: auto;
    margin-top: 20px;
  }

  .customer-list {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;

  }

  .customer-list img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .hot-links {
    height: auto;
  }

  .hot-links .free-ship {
    flex-wrap: wrap;
  }

  .subscription {
    height: auto;
    padding-bottom: 20px;
  }

  .testimonials p > br {
    display: none;
  }

  .testimonials p {
    padding-bottom: 6px;
  }

  .subscription .information,
  .subscription .search {
    flex-basis: 100%;
  }

  .subscription {
    flex-wrap: wrap;
  }

  .subscription .search input {
    width: 100%;
  }

  .subscription .search button {
    width: 160px;
  }

  .testimonials {
    height: auto;
    padding-bottom: 32px;
  }

  .contacts {
    height: auto;
  }

  .contacts .connection {
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .footer-share .footer-share-facebook,
  .footer-share .footer-share-google {
    margin-left: 20px;
  }

  .footer .footer-privacy {
    width: 350px;
  }

  .footer {
    height: 100px;

  }

  .footer-share .footer-share-twitter {
    display: block;
    margin-top: 0;

  }

  .footer-share .footer-share-google {
    display: block;
    margin-top: 5px;
    margin-left: 0;
  }

  .footer-share .footer-share-facebook {
    display: block;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 0;
  }

  .products .title {
    text-align: center;
  }

  .slider-header .posts {
    text-align: center;
  }

  .product {
    flex-wrap: wrap;
  }

  .flex-space-between {
    flex-wrap: wrap;

  }

  .slider .new {
    padding-top: 0;
  }

  .slider-content {
    padding-left: 5px;
  }

  .header-nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-search {
    margin-left: auto;
    margin-right: auto;
  }

  .featured-product + .featured-product {
    border-left: 1px solid #e6e6e6;
  }
}

/* TABLET */
@media (min-width: 768px ) and (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .featured-product {
    flex-basis: 50%;
  }

  .featured-products-list {
    flex-wrap: wrap;
  }

  .sneakers-product {
    flex-wrap: wrap;
    height: 200px;
  }

  .sneakers-product-item {
    height: 100px;
    width: 100%;
  }

  .hot-sale {
    height: 200px;
  }

  .testimonials p > br {
    display: none;
  }

  .subscription .search input {
    width: 210px;
  }

  .hot-links .link .contact {
    padding-right: 5px;
  }

  .footer-share .footer-share-facebook,
  .footer-share .footer-share-google {
    margin-left: 20px;
  }

  .footer .footer-privacy {
    width: 350px;
  }
}

/* LAPTOP */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 920px;
  }

  .featured-product {
    flex-basis: 50%;
  }

  .featured-products-list {
    flex-wrap: wrap;
  }

  .subscription .search input {
    width: 282px;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;

  }
}



