/* PHONE */
@media (max-width: 320px) {
  .office-body .choose-chair {
    border: none;
  }

  .office-body .choose-chair img {
    display: none;
  }

  .container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container-contact .contact {
    margin: 0 auto;
  }

  .container-contact .breadcrumb {
    margin-right: 27px;
    margin-top: 0;
  }

  .office-body .chair-gallery {
    margin: 0 auto;
  }

  .information-details .name-information {
    display: flex;
    justify-content: center;
  }

  .product-meta {
    flex-wrap: wrap;
    align-items: center;
  }

  .links ul {
    padding-top: 14px;
  }

  .share-on {
    padding-top: 10px;
  }

  .chair-information {
    margin-top: 20px;
  }

  .search img {
    display: none;
  }
}

@media (min-width: 320px ) and  (max-width: 768px) {
  body {
    overflow-x: hidden;;
  }

  .links ul {
    padding-left: 0;
  }

  .container {
    max-width: 90%;
  }

  .hot-links .link .contact {
    width: 210px;
  }

  .container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container-contact .contact {
    margin: 0 auto;
  }

  .container-contact .breadcrumb {
    margin-right: 27px;
  }

  .office-body .chair-gallery {
    margin: 0 auto;
    width: auto;
  }

  .information-details .name-information {
    display: flex;
    justify-content: center;
  }

  .product-meta {
    flex-wrap: wrap;
    align-items: center;
  }

  .share-on {
    padding-top: 10px;
  }

  .chair-information {
    margin-top: 20px;
  }

  .search img {
    display: none;
  }

  .office-body .choose-chair img {
    display: none;
  }

  .header-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
  }

  .header-nav.active {
    height: 200px;
  }

  .header-nav li + li {
    display: block;
    margin: 0;
  }

  .sneakers-product {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 200px;
  }

  .sneakers-product-item {
    height: 100px;
    width: 100%;
  }

  .hot-sale {
    height: 200px;
    margin-left: 0;
    margin-top: 20px;
  }

  .customer-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    -ms-flex-pack: center;
    justify-content: center;

  }

  .customer-list img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .hot-links {
    height: auto;
  }

  .hot-links .free-ship {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscription {
    height: auto;
    padding-bottom: 20px;
  }

  .testimonials p > br {
    display: none;
  }

  .testimonials p {
    padding-bottom: 6px;
  }

  .subscription .information,
  .subscription .search {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .subscription {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .subscription .search input {
    width: 100%;
  }

  .subscription .search button {
    width: 160px;
  }

  .testimonials {
    height: auto;
    padding-bottom: 32px;
  }

  .contacts {
    height: auto;
  }

  .contacts .connection {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .footer-share .footer-share-facebook,
  .footer-share .footer-share-google {
    margin-left: 20px;
  }

  .footer .footer-privacy {
    width: 350px;
  }

  .footer {
    height: auto;

  }

  .media {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer .footer-copyright,
  .footer .footer-privacy,
  .footer .footer-share {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .footer-share {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;

    padding-bottom: 15px;
    padding-top: 15px;
  }

  .footer-share .footer-share-twitter {
    margin-top: 0;
  }

  .footer .footer-privacy p,
  .footer .footer-copyright p {
    text-align: center;
  }

  .footer .footer-privacy a:first-child {
    padding-left: 0;
  }

  .footer .footer-privacy a {
    padding-left: 10px;
  }

  .slider-header .posts {
    text-align: center;
  }

  .product {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-space-between {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  .slide .new {
    padding-top: 0;
  }

  .slider-content {
    padding-left: 5px;
  }

  .menu-toggle {
    display: block;
    margin-top: 0;
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-search {
    margin-left: auto;
    margin-right: auto;
  }

  .header-cart {
    margin-top: 0;
  }

  .goods .underscore {
    margin: 0 auto;
  }

  .slick-slide img {
    margin: 0 auto;
  }

  .time {
    display: inline-block;
  }

  .office-body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .office-body .chair-gallery {
    -ms-flex-preferred-size: 100%;
  }

  .office-body .choose-chair {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    border: none;
  }

  .information-details {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
  }

  .links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .input-wrapper {
    width: auto;
  }

  .add-to {
    margin-left: 10px;
    margin-right: 15px;
  }

  .product-meta .SKU {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chair-information #tabs ul {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .chair-information #tabs ul li {
    border-bottom: 1px solid #be926f;
    margin-right: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header-search button {
    height: 46px;
  }

  .header-search input {
    height: 46px;
  }

}

/* TABLET */
@media (min-width: 768px ) and (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .sneakers-product {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 200px;
  }

  .sneakers-product-item {
    height: 100px;
    width: 100%;
  }

  .hot-sale {
    height: 200px;
  }

  .testimonials p > br {
    display: none;
  }

  .subscription .search input {
    width: 210px;
  }

  .hot-links .link .contact {
    padding-right: 5px;

  }

  .footer-share .footer-share-facebook,
  .footer-share .footer-share-google {
    margin-left: 20px;
  }

  .footer .footer-privacy {
    width: 350px;
  }

  .office-body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .office-body .chair-gallery {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .office-body .choose-chair {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .information-details {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
  }
}

/* LAPTOP */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 920px;
  }

  .subscription .search input {
    width: 282px;
  }

  .office-body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .office-body .chair-gallery {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .office-body .choose-chair {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .information-details {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: auto;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;

  }
}



