
.testimonials {
  background-color: #292929;
  height: 350px;
  width: 100%;
  overflow: hidden;
  margin-top:31px;
}

.testimonials .heading {
  font-size: 2.666em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 10px;
  letter-spacing: 1.8px;
}

.testimonials p {
  font-size: 1.133em;
  color: #cccccc;
  text-align: center;
  line-height: 1.76;
  padding-bottom: 17px;
  letter-spacing: 0.32px;
  margin-top: 0.85em;
}

.testimonials .lines {
  background-color:  #be926f;
  width: 20px;
  margin: 0 auto;
  height: 2px;
}

.rhombus {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid #be926f;
  margin: 0 auto;

}
